li {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(45, 45, 45);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
}

li > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

button {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 20px;
}

li > div:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 1vw;
}
