@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: 'Ruluko', sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
}

.header {
  margin: 50px 0px;
}

#logoImg {
  width: 100px;
  height: 100px;
}

h1 {
  color: #fbec5d;
  background-color: #fffbc9;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  width: 520px;
  margin: 0;
}

.konto {
  color: #6b3e26;
  background-color: #fffbc9;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
  padding: 10px;
  width: 500px;
}

.saldo {
  background-color: #fbec5d;
  color: #ffffff;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  font-family: 'Ruluko', sans-serif;
  font-size: 50px;
  margin: 5px;
  padding: 25px 0px;
}

.geldbetrag {
  margin: 0 1rem;
  padding: 0.5rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-radius: 20px;
  transition: border-color 0.5s ease-out;
}
.auszahlen,
.einzahlen {
  margin: 5px;
  background-color: #fbec5d;
  color: #6b3e26;
  border-radius: 20px;
  border-color: #c2b010;
}

.buttons {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}
